<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Online_Ordering_System.Properties.Settings.OnlineOrderingSystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=OnlineOrderingSystem;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>