USE [master]
GO
/****** Object:  Database [OnlineOrderingSystem]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
CREATE DATABASE [OnlineOrderingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineOrderingSystem', FILENAME = N'D:\microsoftSQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineOrderingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineOrderingSystem_log', FILENAME = N'D:\microsoftSQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineOrderingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineOrderingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineOrderingSystem]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[productid] [int] NULL,
	[totalamount] [decimal](18, 2) NULL,
	[adddate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cartid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryid] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderitemid] [int] IDENTITY(1,1) NOT NULL,
	[orderid] [int] NULL,
	[productid] [int] NULL,
	[price] [decimal](18, 2) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderitemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[orderdate] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[totalamount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productid] [int] IDENTITY(1,1) NOT NULL,
	[productname] [nvarchar](100) NOT NULL,
	[stock] [int] NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NULL,
	[status] [nvarchar](20) NULL,
	[categoryid] [int] NULL,
	[ISBN] [nvarchar](20) NOT NULL,
	[image] [nvarchar](50) NULL,
	[publisher] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleid] [int] IDENTITY(1,1) NOT NULL,
	[rolename] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/1/27 週二 下午 11:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[createdate] [datetime] NULL,
	[role] [int] NULL,
	[photo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryid], [categoryname], [description]) VALUES (1, N'科技', N'關於科技的書籍')
INSERT [dbo].[Category] ([categoryid], [categoryname], [description]) VALUES (2, N'運動', N'關於運動的書籍')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([orderitemid], [orderid], [productid], [price], [quantity]) VALUES (3, 3, 1, CAST(580.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetail] ([orderitemid], [orderid], [productid], [price], [quantity]) VALUES (4, 3, 2, CAST(450.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderDetail] ([orderitemid], [orderid], [productid], [price], [quantity]) VALUES (5, 4, 4, CAST(1200.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderid], [userid], [orderdate], [status], [totalamount]) VALUES (3, 4, CAST(N'2026-01-19T22:03:51.340' AS DateTime), N'已付款', CAST(1030.00 AS Decimal(18, 2)))
INSERT [dbo].[Orders] ([orderid], [userid], [orderdate], [status], [totalamount]) VALUES (4, 4, CAST(N'2026-01-19T22:03:51.340' AS DateTime), N'處理中', CAST(1200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productid], [productname], [stock], [description], [price], [status], [categoryid], [ISBN], [image], [publisher]) VALUES (1, N'SQL Server 實戰指南', 50, N'深入淺出學習 MSSQL 資料庫設計與優化', CAST(580.00 AS Decimal(18, 2)), N'上架中', 1, N'9786263245815', N'1.jpg', N'碁峰資訊')
INSERT [dbo].[Product] ([productid], [productname], [stock], [description], [price], [status], [categoryid], [ISBN], [image], [publisher]) VALUES (2, N'Python 程式設計實務', 30, N'從零開始的 AI 腳本開發與自動化', CAST(450.00 AS Decimal(18, 2)), N'上架中', 1, N'9789864345731', N'2.jpg', N'博碩')
INSERT [dbo].[Product] ([productid], [productname], [stock], [description], [price], [status], [categoryid], [ISBN], [image], [publisher]) VALUES (3, N'演算法導論', 15, N'經典電腦科學必讀，精通邏輯思考', CAST(1200.00 AS Decimal(18, 2)), N'上架中', 1, N'9786263248366', N'3.jpg', N'碁峰資訊')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleid], [rolename]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([roleid], [rolename]) VALUES (2, N'user')
INSERT [dbo].[Role] ([roleid], [rolename]) VALUES (3, N'block')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userid], [username], [email], [password], [phone], [createdate], [role], [photo]) VALUES (4, N'user', N'user@gmail.com', N'123456', N'0911222333', CAST(N'2026-01-19T21:55:24.073' AS DateTime), 1, N'https://picsum.photos/id/287/300/300')
INSERT [dbo].[User] ([userid], [username], [email], [password], [phone], [createdate], [role], [photo]) VALUES (5, N'user1', N'1234@gmail.com', N'123456', NULL, CAST(N'2026-01-20T22:33:32.870' AS DateTime), 2, NULL)
INSERT [dbo].[User] ([userid], [username], [email], [password], [phone], [createdate], [role], [photo]) VALUES (6, N'123', N'123456@gmail.com', N'123456', NULL, CAST(N'2026-01-23T20:42:25.247' AS DateTime), 2, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [adddate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [orderdate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('N/A') FOR [ISBN]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [createdate]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([productid])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([userid])
REFERENCES [dbo].[User] ([userid])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderid])
REFERENCES [dbo].[Orders] ([orderid])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([productid])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([userid])
REFERENCES [dbo].[User] ([userid])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryid])
REFERENCES [dbo].[Category] ([categoryid])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([roleid])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
